*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
vcs.xml
misc.xml
.idea/markdown-navigator
.idea/markdown-navigator.xml
app/libs/
app/src/main/res/drawable/
astrahttp/libs/
astrahttp/src/main/res/drawable/
